name: Pacman Contribution Graph

on:
  schedule:
    - cron: "0 */12 * * *"
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Pacman Contribution Graph
        uses: maurodesouza/action-pacman-contribution-chart@main
        with:
          github_user_name: vitormrock
          output_path: output

